* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #752280;
  --dark-primary-color: #601e69;
  --text-color: #767676;
  --dark-text-color: #616161;
  --gray-background: #f0f0f0;
  --dark-gray-background: #cfcfcf;
  --danger-text: #bd2130;
  --warning-text: #d39e00;
  --success-text: #1e7e34;
  --disabled-text: #a6a6a6;
  --shadow: 0px 4px 9.5px 0px rgba(0, 0, 0, 0.15);
}

body {
  background-color: var(--gray-background);
}

.main-header {
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  padding: 0 40px;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 80px;
}

.header-icon {
  color: white;
  font-size: 20px;
}

.hamburger-menu {
  min-width: 250px;
  height: 100%;
  background-color: white;
  padding: 20px;
  animation-duration: 0.4s;
  animation-name: translateLeft;
  animation-direction: alternate;
}

.hamburger-menu h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.hamburger-menu-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
}

.hamburger-menu-list button {
  width: 100%;
  margin-bottom: 10px;
}

main {
  padding: 40px;
}

button {
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 15px;
  border: 0;
  text-wrap: nowrap;
  background-color: var(--primary-color);
  color: white;
  transition: 0.3s background-color;
  position: relative;
  overflow: hidden;
}

button:hover,
button:focus {
  background-color: var(--dark-primary-color);
}

button:disabled {
  color: var(--disabled-text) !important;
  cursor: not-allowed;
  background-color: var(--gray-background) !important;
}

.light-button {
  background-color: white;
  color: var(--primary-color);
}

.light-button:hover,
.light-button:focus {
  background-color: var(--gray-background);
}

button.hamburger {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button.hamburger:hover {
  background-color: var(--dark-primary-color);
}

button.light-no-shadow {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: var(--text-color);
}

button.light-no-shadow:hover {
  background-color: var(--gray-background);
}

.ripple {
  width: 20px;
  height: 20px;
  background-color: rgba(182, 182, 182, 0.3);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: width 0.5s, height 0.5s, opacity 0.5s, top 0.5s, left 0.5s;
  opacity: 1;
}

.dropdown-wrapper {
  position: relative;
}

.button-dropdown {
  min-width: 100%;
  background-color: var(--gray-background);
  transform: translateY(calc(100% + 5px));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  cursor: auto;
  display: none;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

button:focus ~ .button-dropdown {
  display: flex;
  animation-duration: 0.3s;
  animation-name: fadeInDropdown;
  animation-direction: alternate;
}

.button-dropdown button {
  min-width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.table-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.subtitle {
  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.subtitle i {
  margin-right: 10px;
}

.topbar .subtitle {
  margin-bottom: 0;
}

.filters {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 20px;
}

.filters button {
  color: var(--text-color);
}

.table-wrapper {
  height: 0;
  background-color: white;
  border-radius: 20px;
  overflow: scroll;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

table {
  width: 100%;
}

tr {
  background-color: white;
}

tr:nth-child(even) {
  background-color: var(--gray-background);
}

thead tr {
  background-color: var(--primary-color) !important;
  position: sticky;
  top: 0;
}

th,
td {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 15px 5px;
  color: var(--text-color);
}

th {
  color: white;
}

tr.selected {
  background-color: var(--dark-primary-color);
  color: white;
}

tr.selected td {
  color: white;
}

.blur-wrapper {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  display: none;
  align-items: center;
  animation-duration: 0.3s;
  animation-name: blurIn;
  animation-direction: alternate;
}

.blur-wrapper.modal-wrapper {
  justify-content: center;
}

.blur-wrapper.hamburger-wrapper {
  justify-content: flex-end;
}

.blur-wrapper.open {
  display: flex;
}

.modal {
  width: 550px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-direction: alternate;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-info {
  display: flex;
  align-items: center;
}

.modal-info .subtitle {
  margin: 0;
  font-weight: 500;
}

.modal hr {
  border-color: var(--gray-background);
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.modal-body {
  min-height: calc(100% - 140px);
  max-height: calc(100% - 140px);
  padding-top: 30px !important;
  overflow: scroll;
}

.modal-body .row {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.modal-info,
.modal-footer {
  height: 70px;
}

.modal-info,
.modal-body {
  padding: 20px 40px;
}

.modal-footer {
  padding: 15px 40px;
}

.row {
  display: flex;
  column-gap: 10px;
}

.input-wrapper {
  position: relative;
  width: 50%;
}

.input-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
  transform: translate(15px, -50%);
  transition: 0.2s all;
}

.input-wrapper label::before {
  content: "";
  width: 100%;
  height: 9px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(88%);
  top: 0;
  z-index: -1;
}

.input-wrapper input {
  width: 100%;
  border: 1px solid var(--dark-gray-background);
  height: 35px;
  border-radius: 10px;
  outline: none;
  padding: 0 15px;
  font-size: 13px;
  transition: 0.2s all;
}

.input-wrapper input:focus {
  border-color: var(--primary-color);
}

.input-wrapper input:focus ~ label {
  color: var(--primary-color);
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translateY(90%);
  }
  to {
    opacity: 1;
    transform: translateY(calc(100% + 5px));
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blurIn {
  from {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
  }
}

@keyframes translateLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
